@model Cart

<div class="row">
    <a class="col-md-auto btn btn-sm btn-secondary" asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>

    @if (Model.Lines.Count() > 0)
    {
        <small class="col-md-auto navbar-text text-white">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    
</div>